// GLOBAL - CHange background image from style.css line 11384

$navbar-lower-background-color: #000;
$theme-trim-color: #000;

$theme-button-hover-color: gray;

  $theme-background-color: transparent;
  $scroll-top-button-background: #F54600;
  $scroll-top-button-text-color: #fff;
  $scroll-top-button-background-hover: #999999;
  $scroll-top-button-text-color-hover: #000;

  // TODO: add page background color (currently white)


// Title Bar
  $navbar-main-background-color: #fff;
  $navbar-title-color: #000;
//

// Title Bar Button
  $button-background-red: #D95F00;
  $button-text-color: #000;
  $button-text-hover-color: #000;
//

// Nav Bar
  $navbar-dropdown-color: #000000;
  $navbar-link-hover-color: #F54600;
  $navbar-link-color: #fff; 
  $mobile-navbar-divider-color: transparent;
  $bottom-bar-color: #000;
  $top-bar-color: #fff;
  $banner-message-color: #fff;
//

// Splash Contents
  $hero-text-color: #fff;
  $hero-sub-text-color: #fff;
  $hero-button-background-color: #D95F00;
  $hero-button-text-color: #fff;
  $border-button-color: #CE1141;
//

// BLOCKS
  $primary-theme-block-heading-color: #D95F00;
  $block-text-color: lightgrey;
  $secondary-block-text-color: black;
//

// ACCORDION
  $accordion-control-text-color: #000;
  $accordion-content-color: #000;
  $accordion-optional-heading-text-color: #000;
//

// FOOTER VARIABLES
  $footer-links-hover-color: #F54600;
  $border-button-hover-color: #000;
//

//BREAKPOINTS
  $desktop: 1088px;
//



