// GLOBAL
  $theme-background-color: gray;
  $scroll-top-button-background: #999999;
  $scroll-top-button-text-color: #fff;
  $scroll-top-button-background-hover: #D95F00;
  $scroll-top-button-text-color-hover: #000;

  $hero-text-color: #fff;

  // TODO: add page background color (currently white)


// Title Bar
  $navbar-main-background-color: #000;
  $navbar-title-color: #fff;
//

// Title Bar Button
  $button-background-red: #D95F00;
  $button-text-color: #fff;
  $button-text-hover-color: #000;
//

// Nav Bar
  $navbar-lower-background-color: #D95F00;
  $navbar-dropdown-color: #D95F00;
  $navbar-link-color: #fff;
  $navbar-link-hover-color: #fff; 
  $mobile-navbar-divider-color: #D95F00;
  $bottom-bar-color: #CE1141;
  $top-bar-color: #fff;
  $banner-message-color: #fff;
  $navbar-item-hover-background-color: #CE1141;
//

// Splash Contents
  $hero-text-color: #fff;
  $hero-sub-text-color: #fff;
  $hero-button-background-color: #D95F00;
  $hero-button-text-color: #fff;
  $border-button-color: #CE1141;
//

// BLOCKS
  $primary-theme-block-heading-color: #D95F00;
  $block-text-color: #000;
  $secondary-block-text-color: #000;
//

// ACCORDION
  $accordion-control-text-color: #000;
  $accordion-content-color: #000;
  $accordion-optional-heading-text-color: #000;
//

// FOOTER VARIABLES
  $footer-links-hover-color: #D95F00;
  $border-button-hover-color: #000;
//

//BREAKPOINTS
  $desktop: 1088px;
//



