@import "_variables.scss";

.titlebar-button {
  background-color: $theme-trim-color;
  font-family: 'Avenir-Demi-Bold';   
  text-align: center;
  border: 0px solid;
  color: $button-text-color;
  transition: 0.2s;    
  &:hover {
    color: $button-text-hover-color;
      background-color: $theme-button-hover-color;
      box-shadow: 2px 2px 2px grey;
  }
}

.hero-button {
  background-color: $theme-trim-color;
  font-family: 'Avenir-Demi-Bold';   
  text-align: center;
  border: 0px solid;
  color: $button-text-color;
  transition: 0.2s;    
  &:hover {
    color: $button-text-hover-color;
      background-color: $theme-button-hover-color;
      box-shadow: 2px 2px 2px grey;
  }
}

.card-button {
  background-color: $theme-trim-color;
  font-family: 'Avenir-Demi-Bold';   
  text-align: center;
  border: 0px solid;
  color: $button-text-color;
  transition: 0.2s;    
  &:hover {
    color: $button-text-hover-color;
      background-color: $theme-button-hover-color;
      box-shadow: 1px 1px 2px grey;
  }
}
