@import "_variables.scss";

.header-button {
  background-color: #ffffff;
    padding: 1em;
    margin: 0px;
  font-family: 'Avenir-Ultra-LT';  
    font-size: 20px;
  text-align: center;
  border: 1px solid #fff;
  color: $button-text-color;
  transition: 0.4s;    
  &:hover {
    color: #000;
      background-color: #fff;
      border: 1px solid #000;
      box-shadow: 0px 0px 4px;
      transition: 0s;
      font-family: 'Avenir-Ultra-LT';
  }
}

.special-button {
  background-color: black;
    padding: 1em;
    margin: 0px;
  font-family: 'Avenir-Regular';  
    font-size: 1.5em;
  text-align: center;
  border: 1px solid #fff;
  color: white;
  transition: .4s;    
  &:hover {
    color: #F54600;
      background-color: #000;
      border: 1px solid #999999;
      box-shadow: 0px 0px 14px;
      font-family: 'Avenir-Regular';
  }
}

.hero-button {
  background-color: $theme-trim-color;
  font-family: 'Avenir-Demi-Bold';   
  text-align: center;
  border: px solid;
  color: $button-text-color;
  transition: 0.4s;    
  &:hover {
    color: black;
      background-color: #EB6D0B;
      box-shadow: 0px 0px 0px;
  }
}

.card-button {
  background-color: #fff;
  font-family: 'Avenir-Regular';   
  text-align: center;
  border: 1px solid $theme-trim-color;
  color: #000;
    width: 100%;
  transition: 0.4s;    
  &:hover {
    color: #fff;
      background-color: #000;
      box-shadow: 0px 0px 0px;
  }
}

.tile-button {
  background-color: #fff;
    margin-top: 20px;
  font-family: 'Avenir-Demi-Bold';   
  text-align: center;
  border: 0.5px solid $theme-trim-color;
  color: $button-text-color;
  transition: 0.6s;    
  &:hover {
    color: #fff;
      background-color: $button-text-color;
      border: 1px solid $theme-trim-color;
  }
}