@import "_variables.scss";

.navbar-lower {
  background-color: $navbar-lower-background-color;
    padding-left: 30px;
  .navbar-item.has-dropdown {
    top: 0px;
  }
  .navbar-dropdown {
      border: 1px solid #fff;
      border-radius: 3px;
    a.navbar-item.dropdown-item {
        color: #ffffff;
      &:hover {
        background-color: black;
          color: #000000;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .navbar-lower {
    .navbar-start {
      padding-left: 0px;
    }

    .navbar-dropdown {
      background-color: $navbar-dropdown-color;
    }
  }
}

@media screen and (max-width: $desktop) {
  .navbar-lower {
    padding-left: 20px;
  }
}

.border-button-color {
  border-color: $border-button-color;
}

.border-button-hover-color {
  &:hover {
    border-color: $border-button-hover-color;
  }
}

.offset-hero {
  position: relative;
  top: -30px;
}

nav.navbar {
  background-color: $navbar-main-background-color;
}

.navbar-end {
  padding-left: 0px;
    align-items: baseline;
}

.navbar-mid {
    margin-left: 1em;
    .navbar-item {
        img.main-logo {
        height: 35px;    
        }
    }
    .navbar-item-0 {
        margin-left: 7em;
        img.main-logo {
        height: 35px;    
        }
    }
}

.banner-message {
  background-color: $top-bar-color;
  width: 100%;
  padding: 2px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $banner-message-color;
}

.navbar-theme {
  background-color: transparent;
}

.navbar-menu {
  justify-content: space-between;
  .float-right-desktop {
    display: flex;
    @media screen and (max-width: 1087px) {
      display: block;
      padding-left: 10px;
      border-top: 5px transparent;
      padding-top: 0px;
    }
  }
}

.navbar-brand {
  .navbar-item {
    img.main-logo {
      width: 90px;
    }
  }
}

.navbar-item {
  font-size: 4em;
    font-family: 'Avenir-Regular' !important;
}

.organization-navbar-title {
  color: $navbar-title-color;
  font-size: 3em;
  letter-spacing: 1px;
  font-family: 'Avenir-Ultra-LT';    
    font-weight: 00px;
}
.navbar-buttons-wrapper {
  padding-top: 10px;
  margin: 0px;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: $navbar-link-hover-color !important;
  background-color: transparent;
}

.navbar {
  background-color: transparent;
}

.navbar-burger.burger {
  padding: 13px 0px 0px 0px;
    right: 15px;
    position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  color: #000000 !important;
}

.navbar-burger:hover {
  background-color: transparent;
}

/* Pulled from style.css */
.navbar-center {
  display: block;
  background-color: transparent;
  margin: 0 15px 15px 15px;
}

.navbar-item,
.navbar-link {
  color: $navbar-link-color;
  background-color: transparent;
  margin-right: 5px;
  border-bottom: 0px solid;
  transition: 0.3s;
  font-family: 'Avenir-Demi-Bold';
    font-size: 1rem;
}

@media (min-width: $desktop) {
  .navbar-brand {
    padding-left: 30px;
  }

  .navbar-center {
    display: flex;
    background-color: transparent;
  }

  .navbar-item,
  .navbar-link {
    color: $navbar-link-color;
  }
}
    
.hero-text {
  color: $hero-text-color !important;
}

.hero-sub-text {
  color: $hero-sub-text-color !important;
}

.hero-button {
  background-color: $hero-button-background-color;
  color: $hero-button-text-color;
}

.block-text-color {
  color: $block-text-color;
}

.motivation-hero {
  @media screen and (max-width: 768px) {
    left: 0px !important;
  }
}
