.navbar-lower {
  background-color: #D95F00;
  -webkit-box-shadow: 0px 2px 20px grey;
          box-shadow: 0px 2px 20px grey;
  height: auto;
}

.navbar-lower .navbar-item.has-dropdown {
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  background-color: transparent;
}

.navbar-lower .navbar-item.has-dropdown:hover {
  background-color: #D94D00;
}

.navbar-lower a.navbar-item.dropdown-item:hover {
  color: #000;
}

@media screen and (min-width: 1088px) {
  .navbar-lower .navbar-start {
    padding-left: 92px;
  }
  .navbar-lower .navbar-dropdown {
    background-color: #D95F00;
  }
}

@media screen and (max-width: 1088px) {
  .navbar-lower {
    padding-left: 20px;
  }
}

.border-button-color {
  border-color: #CE1141;
}

.border-button-hover-color:hover {
  border-color: #000;
}

.offset-hero {
  position: relative;
  top: -30px;
}

nav.navbar {
  background-color: #000;
}

#splash {
  background-image: url("../image/splash_background.jpg");
  background-size: cover;
}

#splash .bottom-bar {
  width: 100%;
  background-color: #CE1141;
  height: 20px;
  margin-bottom: 30px;
}

.navbar-end {
  padding-left: 10px;
}

.banner-message {
  background-color: #fff;
  width: 100%;
  padding: 2px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #D95F00;
}

.navbar-theme {
  background-color: #000;
}

.navbar-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu .float-right-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1087px) {
  .navbar-menu .float-right-desktop {
    display: block;
    padding-left: 10px;
    border-top: 2px solid #D95F00;
    padding-top: 5px;
  }
}

.navbar-brand .navbar-item img.main-logo {
  width: 200px;
}

.navbar-item {
  font-size: 1.15em;
  font-family: 'Avenir-Demi-Bold';
  letter-spacing: 0px;
  margin: 0px;
}

.navbar-item:hover {
  background-color: #D94D00;
}

.navbar-item {
  font-size: 1.15em;
  font-family: 'Avenir-Demi-Bold';
  letter-spacing: 0px;
  margin: 2px;
}

.organization-navbar-title {
  font-family: 'Futura-Bold';
  padding-top: 20px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
}

.navbar-buttons-wrapper {
  padding-top: 20px;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: #fff !important;
  background-color: #000;
}

.navbar {
  background-color: transparent;
}

.navbar-burger.burger {
  padding: 13px 0px 0px 0px;
  width: 3.5rem;
  height: 3.5rem;
  color: #ffffff !important;
}

.navbar-burger:hover {
  background-color: transparent;
}

/* Pulled from style.css */
.navbar-center {
  display: block;
  background-color: transparent;
  margin: 0 15px 15px 15px;
}

.navbar-item {
  color: #fff;
  background-color: transparent;
}

.navbar-link {
  color: #fff;
  background-color: transparent;
  margin-right: 5px;
  border-bottom: 0px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1088px) {
  .navbar-brand {
    padding-left: 30px;
  }
  .navbar-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
  }
  .navbar-item,
  .navbar-link {
    color: #fff;
  }
}

.hero-text {
  color: #fff !important;
  font-family: 'Futura-Bold';
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 2px;
}

.hero-sub-text {
  color: #fff !important;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .motivation-hero {
    left: 0px !important;
  }
}
/*# sourceMappingURL=header.css.map */