.navbar-lower {
  background-color: #D95F00;
  -webkit-box-shadow: 0px 2px 20px grey;
          box-shadow: 0px 2px 20px grey;
  height: auto;
}

.navbar-lower .navbar-item.has-dropdown {
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
  background-color: transparent;
}

.navbar-lower .navbar-item.has-dropdown:hover {
  background-color: #D94D00;
}

.navbar-lower a.navbar-item.dropdown-item:hover {
  color: #000;
}

@media screen and (min-width: 1088px) {
  .navbar-lower .navbar-start {
    padding-left: 92px;
  }
  .navbar-lower .navbar-dropdown {
    background-color: #D95F00;
  }
}

@media screen and (max-width: 1088px) {
  .navbar-lower {
    padding-left: 20px;
  }
}

.border-button-color {
  border-color: #CE1141;
}

.border-button-hover-color:hover {
  border-color: #000;
}

.offset-hero {
  position: relative;
  top: -30px;
}

nav.navbar {
  background-color: #000;
}

#splash {
  background-image: url("../image/splash_background.jpg");
  background-size: cover;
}

#splash .bottom-bar {
  width: 100%;
  background-color: #CE1141;
  height: 20px;
  margin-bottom: 30px;
}

.navbar-end {
  padding-left: 10px;
}

.banner-message {
  background-color: #fff;
  width: 100%;
  padding: 2px 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #D95F00;
}

.navbar-theme {
  background-color: #000;
}

.navbar-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu .float-right-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1087px) {
  .navbar-menu .float-right-desktop {
    display: block;
    padding-left: 10px;
    border-top: 2px solid #D95F00;
    padding-top: 5px;
  }
}

.navbar-brand .navbar-item img.main-logo {
  width: 200px;
}

.navbar-item {
  font-size: 1.15em;
  font-family: 'Avenir-Demi-Bold';
  letter-spacing: 0px;
  margin: 0px;
}

.navbar-item:hover {
  background-color: #D94D00;
}

.navbar-item {
  font-size: 1.15em;
  font-family: 'Avenir-Demi-Bold';
  letter-spacing: 0px;
  margin: 2px;
}

.organization-navbar-title {
  font-family: 'Futura-Bold';
  padding-top: 20px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
}

.navbar-buttons-wrapper {
  padding-top: 20px;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: #fff !important;
  background-color: #000;
}

.navbar {
  background-color: transparent;
}

.navbar-burger.burger {
  padding: 13px 0px 0px 0px;
  width: 3.5rem;
  height: 3.5rem;
  color: #ffffff !important;
}

.navbar-burger:hover {
  background-color: transparent;
}

/* Pulled from style.css */
.navbar-center {
  display: block;
  background-color: transparent;
  margin: 0 15px 15px 15px;
}

.navbar-item {
  color: #fff;
  background-color: transparent;
}

.navbar-link {
  color: #fff;
  background-color: transparent;
  margin-right: 5px;
  border-bottom: 0px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 1088px) {
  .navbar-brand {
    padding-left: 30px;
  }
  .navbar-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
  }
  .navbar-item,
  .navbar-link {
    color: #fff;
  }
}

.hero-text {
  color: #fff !important;
  font-family: 'Futura-Bold';
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 2px;
}

.hero-sub-text {
  color: #fff !important;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .motivation-hero {
    left: 0px !important;
  }
}

@font-face {
  font-family: 'Avenir-Ultra-LT';
  src: url("../fonts/AvenirNextLTPro-UltLt.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-UltLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Regular';
  src: url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Demi-Bold';
  src: url("../fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Condensed';
  src: url("../fonts/Futura-Condensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/Futura-Bold.woff2") format("woff2"), url("../fonts/Futura-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.font-futura-condensed {
  font-family: 'Futura-Condensed' !important;
  letter-spacing: 3px;
}

.font-avenir-ul {
  font-family: 'Avenir-Ultra-LT' !important;
  font-weight: 600;
}

.font-avenir-regular {
  font-family: 'Avenir-Regular' !important;
}

.font-avenir-demi-bold {
  font-family: 'Avenir-Demi-Bold' !important;
}

.font-futura-bold {
  font-family: 'Futura-Bold' !important;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-20 {
  font-size: 20px;
}

.padding-10 {
  padding: 10px 0px;
}

.padding-20 {
  padding: 20px;
}

.padding-25 {
  padding: 25px;
}

.padding-30 {
  padding-bottom: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-110 {
  padding-top: 110px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-97 {
  width: 97%;
}

.width-100 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .width-97-mobile {
    width: 97% !important;
  }
}

@media screen and (max-width: 768px) {
  .width-100-mobile {
    width: 100% !important;
  }
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.titlebar-button {
  background-color: #D95F00;
  font-family: 'Avenir-Demi-Bold';
  text-align: center;
  border: 0px solid;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.titlebar-button:hover {
  color: #fff;
  background-color: #D94D00;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
}

.hero-button {
  background-color: #D95F00;
  font-family: 'Avenir-Demi-Bold';
  text-align: center;
  border: 0px solid;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero-button:hover {
  color: #fff;
  background-color: #D94D00;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
}

.card-button {
  background-color: #D95F00;
  font-family: 'Avenir-Demi-Bold';
  text-align: center;
  border: 0px solid;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-button:hover {
  color: #fff;
  background-color: #D94D00;
  -webkit-box-shadow: 1px 1px 2px grey;
          box-shadow: 1px 1px 2px grey;
}

.footer-section {
  padding: 3rem 1.5rem;
  background-color: black;
}

.footer-area {
  background-color: #1f1f1f;
  border: 2px solid #000;
  padding: 30px;
  border-radius: 7px;
}

.footer-area td a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-area td a:hover {
  text-decoration: none;
  color: #D95F00;
}

.footer-blocks .table td {
  padding: 15px 0px;
}

.footer-blocks .is-6-tablet {
  padding: 30px;
}

.footer-blocks .block .footer-area {
  min-height: 246px;
}

/*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */
/* Requirements */
[data-accordion] [data-content] {
  overflow: hidden;
  max-height: 0;
}

/* Basic Theme */
[data-accordion] {
  line-height: 1;
}

[data-control],
[data-content] > * {
  padding: 10px;
}

[data-content] [data-accordion] {
  border: 0;
  padding: 0;
}

[data-accordion] [data-control] {
  position: relative;
  padding-right: 40px;
}

[data-accordion] > [data-control]:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 25px;
  font-weight: 200;
  color: #444;
  height: 15px;
  width: 24px;
  background: url("../image/down.png") center center no-repeat;
  background-size: 50%;
}

[data-accordion].open > [data-control]:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* THEME STYLES */
body {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  /* background-image: url("../image/website_background.jpg"); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.input, .textarea {
  line-height: normal !important;
}

.main-content-index {
  background: #E0E0E0;
  background-repeat: no-repeat;
  background-size: contain;
  position: inherit;
  height: auto;
  width: 97%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid #D95F00;
  background-image: 0;
  -webkit-box-shadow: 0px 0px 0px white;
          box-shadow: 0px 0px 0px white;
}

.main-content {
  background: #E0E0E0;
  background-repeat: no-repeat;
  background-size: contain;
  position: inherit;
  height: auto;
  width: 97%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid #D95F00;
  background-image: 0;
  -webkit-box-shadow: 0px 0px 0px white;
          box-shadow: 0px 0px 0px white;
}

.main-content-programs {
  background: #E0E0E0;
  background-repeat: no-repeat;
  background-size: contain;
  position: inherit;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  border: 1px solid #D95F00;
  background-image: 0;
  -webkit-box-shadow: 0px 0px 0px white;
          box-shadow: 0px 0px 0px white;
}

.primary-theme-color {
  color: #D95F00;
}

.secondary-block-text-color {
  color: #000;
}

.block-text-color {
  color: #000;
}

.main-content .hero.is-medium .hero-body {
  padding-bottom: 25px;
}

#rosters li {
  padding-left: 5px;
}

#rosters .menu-list li.teamlistHead h4 {
  font-size: 1.1rem;
}

#rosters .bold {
  font-weight: bold;
}

#rosters .detailsList {
  text-align: center;
}

#rosters .detailsList .register-button {
  padding-top: 20px;
}

form.contact label {
  color: #002366;
}

section.subscribe-block .container {
  background-color: #CF2F24;
}

section.subscribe-block .container:hover {
  background-color: #C8271C;
}

section.subscribe-block .container .columns {
  height: 150px;
}

section.subscribe-block .container .columns .youtube-bg {
  background-image: url(../image/subscribe.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section.subscribe-block .container .columns .youtube-bg a {
  width: 100%;
  height: 100%;
  display: block;
}

section.subscribe-block .container .columns .theme-logo {
  background-color: #FEF105;
  background-image: url("../image/logo.png");
  background-size: 120px;
  background-position: center 8px;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  section.subscribe-block .container .columns {
    height: 100px;
  }
  section.subscribe-block .container .columns .youtube-bg {
    background-size: contain;
  }
  section.subscribe-block .container .columns .theme-logo {
    background-size: 85px;
    background-position: center 2px;
  }
}

.messages .alert {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Avenir-Regular';
  font-weight: bold;
}

.messages .alert.alert-success {
  color: #22b522;
}

.messages .alert.alert-danger {
  color: #C8271C;
}

.secondary-content {
  margin: 30px 20px 0 20px;
  height: auto;
  border-style: none;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
}

.secondary-content section {
  padding: 15px;
}

.secondary-content section#rosters {
  padding-bottom: 60px;
}

.secondary-content .columns {
  position: relative;
  top: 15px;
}

.secondary-content .columns .column.has-text-right {
  padding-right: 40px;
}

.instagram_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.instagram_gallery a {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.instagram_gallery img {
  -webkit-box-flex: flex-grow;
      -ms-flex: flex-grow;
          flex: flex-grow;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.main-content.alternate {
  background-image: none !important;
}

h2 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

.foundation-page .max-width-80 {
  max-width: 40%;
}

@media screen and (min-width: 1100px) {
  .foundation-page .max-width-80 {
    max-width: 32%;
  }
}

.foundation-page .max-width-85 {
  max-width: 40%;
}

.foundation-page .max-width-1152 {
  max-width: 960px;
  padding: 0px;
}

.foundation-page .hero-body {
  padding: 200px 0px;
}

.foundation-page .main-content {
  font-family: 'Avenir-Regular' !important;
}

.foundation-page .main-content section#about {
  padding-bottom: 80px;
}

.foundation-page .main-content .article-image .article-hero-image {
  padding-top: 20px;
  padding-bottom: 40px;
}

.foundation-page .main-content .padded-content {
  padding: 20px;
}

.foundation-page .main-content .padded-content.justify-text {
  text-align: justify;
}

.foundation-page .main-content .columns .article-image {
  padding: 20px;
}

.foundation-page .main-content .article-text {
  padding: 20px;
}

.foundation-page .main-content .image-with-text {
  position: relative;
  padding-top: 30px;
  margin-left: 20px;
}

@media screen and (max-width: 769px) {
  .foundation-page .main-content .image-with-text {
    margin-left: 0px;
  }
}

.foundation-page .main-content .image-with-text .article-image {
  padding: 0px;
}

.foundation-page .main-content .image-with-text .image-description-block {
  background-color: #000000a6;
  padding: 5px 8px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.foundation-page .main-content .image-with-text .image-description-block .image-description-text {
  color: #fff;
}

a.contact-email-form {
  font-size: 30px;
}

#sponsors .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sponsors img.sponsor {
  max-width: 300px;
}

.has-text-red {
  color: #D7BF5D !important;
}

a.active {
  color: #D7BF5D;
}

.splash-logo {
  padding-top: 80px;
  max-width: 600px;
}

.home .hero-body {
  margin-bottom: 40px;
}

.home .hero-body img {
  width: 100%;
  max-width: 100%;
}

.home .motivation-hero {
  left: 30px;
  padding-top: 30px;
}

.home .motivation-hero h1 {
  font-size: 3rem !important;
}

.home .splash-logo {
  padding-top: 30px;
  max-width: 600px;
}

@media screen and (max-width: 1215px) {
  .home .email-text .is-size-head a {
    font-size: 25px;
  }
}

@media screen and (max-width: 1023px) {
  .home .email-text .is-size-head a {
    font-size: 20px;
  }
}

.home .bin-icon {
  padding-left: 20px;
}

.teamlist li.teamSub.show {
  font-weight: bold;
}

.teamlist .player-list {
  border-right: none;
}

#standings .card {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1087px) {
  #standings {
    margin-top: -60px;
  }
}

table.table.standings {
  color: #363636 !important;
}

.records-standings .panel-heading {
  border: none;
  color: #fff !important;
}

.locations .secondary-content, .locations .main-content {
  overflow: hidden;
  padding: 0px;
}

.locations .secondary-content {
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .locations .secondary-content {
    padding-bottom: 0px;
  }
}

.locations .secondary-content .columns {
  top: 0px;
}

.locations .map-and-info .map-container .column.map {
  background-size: cover;
  height: 400px;
}

.locations .map-and-info .map-container .column.map.facility-1 {
  background-image: url("../image/map_facility1.png");
}

.locations .map-and-info .map-container .column.map.facility-2 {
  background-image: url("../image/map_facility2.png");
}

.locations .map-and-info .map-container .column.map.facility-3 {
  background-image: url("../image/map_facility3.png");
}

.locations .map-and-info .map-container .column.map.facility-4 {
  background-image: url("../image/map_facility4.png");
}

.locations .map-and-info .map-container .column.map.facility-5 {
  background-image: url("../image/map_facility5.png");
}

.locations .map-and-info .map-container .column .location-details {
  padding: 10px 0px;
}

.locations .map-and-info .map-container .column.info {
  padding-top: 20px;
}

@media screen and (min-width: 769px) {
  .locations .map-and-info .map-container .column.info {
    padding-top: 100px;
  }
}

.about .main-content {
  font-size: 17px;
}

.main-body {
  padding: 40px 0px;
  border-color: #D95F00;
  border: 1px solid;
}

.text-block {
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.text-block.background-color-block {
  background-color: #efefef;
}

.text-block .content {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
}

.slick-slider .slide {
  position: relative;
}

.slick-slider .slide .caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #0000007d;
  padding: 20px;
  width: 100%;
}

.image-wrapper {
  position: relative;
}

.image-wrapper .caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #0000007d;
  padding: 20px;
  width: 100%;
}

#scrollTop {
  display: block;
  position: fixed;
  bottom: -50px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #D95F00;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#scrollTop:hover {
  background-color: #D95F00;
  color: #000;
}

.players-box td {
  border: 0 !important;
}

.players-box .columns {
  padding-left: 15px;
}

@media screen and (max-width: 768px) {
  .players-box .columns {
    padding-left: 0px;
  }
}

.players-box .column.place {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media screen and (max-width: 768px) {
  .players-box .column.place {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.left-provinces {
  border-right: 15px solid #fff;
}

@media screen and (max-width: 768px) {
  .left-provinces {
    border-right: 0px;
    margin-bottom: 20px;
  }
}

#rosters .is-multiline .column {
  background-color: #f0f0f0;
}

#rosters .menu-list {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  #rosters .menu-list {
    padding-left: 0px;
  }
}

#rosters .teamlistHead {
  padding-top: 8px;
  padding-bottom: 0px;
}

#rosters .teamlistHead:hover {
  background-color: #fff;
}

#rosters .players-location {
  border-right: 15px solid #fff;
}

#rosters .players-location .teamlist {
  padding-bottom: 20px;
  padding-left: 15px;
}

@media screen and (max-width: 500px) {
  #rosters .players-location .teamlist .row.player {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  #rosters .players-location {
    border-right: 0px;
    margin-bottom: 20px;
  }
}

.teamlist .inner-content {
  padding-left: 14px;
  padding-right: 14px;
}

.selector-image-container {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
}

@media screen and (max-width: 768px) {
  .selector-image-container {
    height: 450px;
  }
}

img.selector-image {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.left-right-image-block {
  background-color: #efefef;
}

.left-right-image-block .column {
  padding: 0;
}

.left-right-image-block .column.photo-bucket {
  position: relative;
}

@media screen and (max-width: 768px) {
  .left-right-image-block .column.photo-bucket {
    height: 250px;
  }
}

.left-right-image-block .content-wrapper {
  padding: 40px;
  background-color: #efefef;
}

.left-right-image-block .content-wrapper .content {
  padding-top: 20px;
}

.left-right-image-block .block-image {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion-page-container {
  max-width: 1300px;
  padding-top: 25px;
  padding: 20px;
}

.accordion-page-container .optional-heading-text-color {
  color: #000;
}

.accordion-sections {
  margin-left: auto;
  margin-right: auto;
}

.player {
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.accordion-group .accordion {
  border: 1px solid #EAEAEA;
  padding: 5px;
  margin-top: 10px;
}

.accordion-group .accordion .control {
  background-color: #EAEAEA;
  cursor: pointer;
  color: #000 !important;
}

.accordion-group .accordion .accordion-content {
  padding-top: 5px;
  font-family: 'Avenir-Regular' !important;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.accordion-group .accordion .accordion-content:nth-of-type(1) {
  padding-top: 20px;
}

.accordion-group .accordion .accordion-content.bold, .accordion-group .accordion .accordion-content .bold {
  font-weight: bold;
}
/*# sourceMappingURL=helper.css.map */