//FONTS
@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Ultra-LT';
    src: url('../fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-UltLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Demi-Bold';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-avenir-ul {
  font-family: 'Avenir-Ultra-LT' !important;
  font-weight: 600;
}
.font-avenir-regular {
  font-family: 'Avenir-Regular' !important;
}
.font-avenir-demi-bold {
  font-family: 'Avenir-Demi-Bold' !important;
}
.font-futura-bold {
  font-family: 'Futura-Bold' !important;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-20 {
  font-size: 20px;
}
//

// PADDING
.padded-bottom-20 {
  padding-bottom: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padded-bottom-50 {
  padding-bottom: 50px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padded-bottom-80 {
  padding-bottom: 80px;
}

.padding-top-80 {
  padding-top: 80px;
}
//

//MARGINS
.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}
//

//WIDTH
.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}
//

// TODO: add image option for header background like BCCBA 

.is-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
